<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/blog.css')}}" rel="stylesheet">
  </head>

  <body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
   </div>
    <div class="navbar-header navbar-right">
      <a class="navbar-brand" href="/v01/login">登录</a>
   </div>
    <div class="navbar-header navbar-right">
      <a class="navbar-brand" href="/v01/signup">注册</a>
   </div>

</nav>
<header class="header-top jumbotron">
<div class="container">
<div class="row">
 <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ static_url('image/leaf.jpg')}}" alt="First slide">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="{{ static_url('image/leaf.jpg')}}" alt="Second slide">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="{{ static_url('image/leaf.jpg')}}" alt="Third slide">
            <div class="carousel-caption"></div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
        data-slide="next">&rsaquo;
    </a>
</div>
</div>
</div>
</div>
</header>
<div class="container"></div>
<footer class="">

</footer>



    <script src="{{ static_url('js/jquery-3.1.0.min.js')}}"></script>
    <script src="{{ static_url('js/bootstrap.min.js')}}"></script>

  </body>
</html>